# =========================================================================
# APPLICATION CONFIGURATION (EXAMPLE)
# This file contains example configuration settings for the application.
# =========================================================================

# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
# For local MongoDB, use: mongodb://localhost:27017/your_db_name
# For MongoDB Atlas, use your full srv connection string
MONGODB_URL=your_mongodb_connection_string_here


# Note: not yet implemented
# JWT Authentication (If you have user sign-in implemented) 
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=90d
